* {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: auto;
}
header {
    max-width: 1326px;
    width: 100%;
    max-height: 30px;
    height: auto;
    margin: auto;
    padding-top: 50px;
}

.header-inner {
    max-width: 1143px;
    width: 100%;
    max-height: 30px;
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}
.logo {
    max-width: 97px;
    width: 100%;
    max-height: 30px;
    display: flex;
    gap: 38px;
    align-items: center;
}
.header-navbar {
    max-width: 470px;
    width: 100%;
    max-height: 30px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.menu {
    max-width: 29px;
    width: 100%;
    max-height: 22px;
    height: 22px;
    display: none;
}
.info {
    max-width: 167px;
    max-height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.eclipse {
    width: 25px;
    height: 25px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    z-index: -1;    
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.screen {
    margin-top: 27px;
    max-width: 1326px;
    width: 100%;
    max-height: 852px;
    height: 852px;
    display: flex;
    align-items: center;
    margin: auto;
}
.content {
    max-width: 632px;
    width: 100%;
    max-height: 385px;
    height: 385px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-inner {
    display: flex;
    flex-direction: row;
    max-width: 632px;
    width: 100%;
    gap: 10px;
}   
.content-text-1 {
    max-width: 75px;
    width: 100%;
}



.content h1 {

    max-width: 632px;
    width: 100%;
    max-height: 122px;
    height: 122px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px; /* 48px? */
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.content-text-1 h2 {
    max-width: 252px;
    width: 100%;
    max-height: 50px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}


.content-text-2 h2 {
    max-width: 252px;
    width: 100%;
    max-height: 50px;
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.content-text-2 h3 {
    max-width: 297px;
    width: 100%;
    max-height: 49px;
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}


.content-text-2 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    max-width: 252px;
    width: 100%;
    max-height: 64px;
    height: 64px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    display: flex;
    align-items: center;
}
.content button h4 {
    width: 192px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    display: flex;
    align-items: center;
}
.photo {
    width: 100%;
    max-width: 1326px;
    position: relative;
    z-index: -1;
    height: 852px;
}

.photo img {
    position: absolute;
    left: -42%;
    top: 5%;
    width: auto;
}


.shade {
    position: absolute;
    width: 464px;
    height: 850px;
    left: 1066px;
    top: 109px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}
.arrow {
    max-width: 52px;
    width: 100%;
    max-height: 55px;
    height: 55px;
    position: absolute;
    bottom: 0;
}

.schedule {
    max-width: 1143px;
    max-height: 841px;
    height: 841px;
    margin: auto;
    background: #FBF138;
    margin-top: 100px;
}
.schedule-content {
    max-width: 1143px;
    max-height: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.schedule-content h1 {
    max-width: 356px;
    max-height: 100px;
    height: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
}
.schedule-content h2 {
    max-width: 185px;
    max-height: 35px;
    height: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
}

.schedule-grid {
    margin-top: 38px;
    max-width: 1143px;
    max-height: 799px;
    height: 703px;
    background: #2B3541;
}

.mailing {
    max-width: 1920px;
    width: 100%;
    max-height: 348px;
    height: 348px;
    margin-top: 162px;
    background: #F3F3F3;
}

.mailing-inner {
    max-width: 1920px;
    width: 100%;
    max-height: 348px;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe-text {
    position: relative;
}
.mailing-inner h1 {
    /*max-width: 587px;*/
    max-width: 617px;
    width: 100%;
    max-height: 49px;
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #2B3541;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}
.eclipse-2 {
    position: absolute;
    width: 53px;
    height: 53px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    position: absolute;
    left: -34px;
    top: -20px;
    z-index: 1;
}

form {
    max-width: 617px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#email {
    margin-right: 20px;
    max-width: 372px;
    width: 100%;
    max-height: 65px;
    height: 65px;
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    padding-left: 19px;
}

#subscription {
    max-width: 225px;
    width: 100%;
    height: 65px;
    max-height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.personal-data {
    display: flex;
    max-width: 617px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}
.personal-data-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
}
.personal-data-text span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: underline;
}
.check-box {
    width: 24px;
    height: 24px;
}

.about-us {
    max-width: 1142px;
    width: 100%;
    height: 513px;
    max-height: 513px;
    margin: auto;
    margin-top: 158px;
}
.about-us-inner {
    max-width: 1142px;
    width: 100%;
    height: 513px;
    max-height: 513px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.about-us-inner-2 {
    max-width: 1142px;
    width: 100%;
    max-height: 513px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about-us-company {
    max-width: 483px;
    width: 100%;
    height: 276px;
    max-height: 276px;
}
.about-us-company h1 {
    margin-bottom: 19px;
    max-width: 265px;
    width: 100%;
    max-height: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.about-us-company h2 {
    max-width: 483px;
    width: 100%;
    max-height: 108px;
    height: 108px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
 }

.about-us-company button {
    max-width: 225px;
    width: 100%;
    max-height: 65px;
    height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    text-transform: uppercase;
    margin-top: 34px;
}
.trainer {
    max-width: 581px;
    width: 100%;
    max-height: 335px;
    height: 335px;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.3;
}

.trainer img {
    width: 100%;
    height: auto;
}


.advantages {
    max-width: 1142px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.advantages-1 h1, .advantages-2  h1, .advantages-3 h1, .advantages-4  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.advantages-1 h2, .advantages-2  h2, .advantages-3 h2, .advantages-4  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.advantages-1, .advantages-2, .advantages-3, .advantages-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-1 {
    max-width: 231px;
    width: 100%;
    max-height: 97px;
    height: 97px;
}
.advantages-2 {
    max-width: 284px;
    width: 100%;
    max-height: 97px;
    height: 97px;
}
.advantages-3 {
    max-width: 221px;
    width: 100%;
    max-height: 97px;
    height: 97px;
}
.advantages-4 {
    max-width: 204px;
    width: 100%;
    max-height: 97px;
    height: 97px;
}
footer {
    width: 100%;
    max-height: 149px;
    height: 149px;
    margin-top: 170px;
    background-color: #F3F3F3;
    display: flex;
}
.footer-inner {
    max-width: 1141px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.footer-menu {
    max-width: 462px;
    width: 100%;
    max-height: 21px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}
.social {
    max-width: 158px;
    width: 100%;
    max-height: 25px;
    height: 25px;
    position: relative;
}
.eclipse {
    width: 25px;
    height: 25px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    z-index: -1;    
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (max-width: 768px){
    .logo {
        max-width: 164px;
    }
    .header-navbar {
        display: none;
    }
    .menu {
        display: block;
    }
}

@media only screen and (max-width: 360px){
    .trainer {
        display: none;
    }
}